@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl text-center text-primary mb-8;
  }
  h2 {
    @apply text-2xl text-secondary mb-4;
  }
  h3 {
    @apply text-xl text-secondary font-bold;
  }
  h4 {
    @apply text-xl text-primary font-bold uppercase text-center;
  }
  h5 {
    @apply text-lg text-secondary font-bold;
  }
  p {
    @apply font-serif text-lg mb-4;
  }
  ul {
    @apply font-serif;
  }
  ol {
    @apply p-6;
  }
  ol li {
    @apply font-serif list-decimal
  }
  ol li::marker {
    @apply text-primary
  } 
}

@layer components {
  .dropdown ul li a{
    @apply font-sans text-secondary uppercase hover:text-secondary;
  }
  .columns-two {
    @apply flex flex-wrap gap-11 xl:gap-16 lg:flex-nowrap;
  }
  .columns-two > div{
    @apply w-full lg:w-1/2;
  }
  .tabs > .tab {
    @apply hover:bg-hover-accent hover:shadow-md;
  }
  .btn {
    @apply font-sans;
  }
  figure {
    @apply relative;
  }
  figure figcaption {
    @apply absolute bottom-0 left-0 w-full px-2 py-1 text-xs text-hover-accent bg-black bg-opacity-50 rounded-lg;
  }
}

@layer utilities {
  .tab-active {
    @apply bg-hover-accent shadow-md;
  }
  .bg-texture {
    @apply relative;
  }
  .bg-texture:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image: url('https://la-leyenda.com/ext-images/colombian/background-img.png');
    background-repeat: repeat;
  }
  .menu-mobile li{
    @apply font-sans text-lg text-primary uppercase
  }
  .menu-mobile li ul li{
    @apply text-base text-secondary
  }
}